@charset "UTF-8";

.cinza {
    background-color: rgb(219, 214, 214);
}

.verde {
    background-color: lightgreen;
    color: green;
}

.amarela {
    background-color: rgb(236, 236, 129);
    color: rgb(145, 145, 33);
}